@import "./animations.css";

.game{
    display:flex;
    position: fixed; /* Sit on top of the page content */
    flex-direction: column;
    justify-content:space-evenly;
    width: 60%; /* Full width (cover the whole page) */
    height: 67%; /* Full height (cover the whole page) */
      top: 15%;
      left: 20%;
      right: 0;
      bottom:10%;
  z-index: -0; /* Specify a stack order in case you're using a different order for other elements */

}

.board_container{

  padding: 20px;
    display:flex;
    position: fixed; /* Sit on top of the page content */
    justify-content:center;
    width: 100%; /* Full width (cover the whole page) */
    height: calc(3 * 8px + 4 * 80px);

    top: 25%;
    bottom:50%;
    margin: auto;
  z-index: -0; /* Specify a stack order in case you're using a different order for other elements */

}

.board {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: calc(3 * 8px + 4 * 80px);
  background-color: #FFFFFF;
  gap:8px;
  width: calc(3 * 8px + 4 * 150px);
  min-height: 0;
  min-width: 0;
  margin:auto;
  position:relative;
  /*left: 400px;*/
  /*position:;*/
  column-gap: 8px;
  row-gap: 8px;
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
}

.matched-set {

  grid-column-end: span 4;
  border-radius: 6px;
  padding: 20px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  cursor: default;
  text-transform: uppercase;
  font-family: "Libre Franklin", sans-serif;
  font-style: normal; 
  z-index: -1; /* Specify a stack order in case you're using a different order for other elements */
  position:sticky;
  transition: background-color .25s, color .25s;
}



#yellow{
    background-color: var(--connections-yellow);
}

#purple{
    background-color: var(--connections-maroon);
}

#green{
    background-color: var(--connections-green);
}

#blue{
    background-color: var(--connections-blue);
}

.card {

  border-radius: 6px;
  background-color: rgb(239, 239, 230);
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Libre Franklin", sans-serif;
  font-style: normal; 
  z-index: -1; /* Specify a stack order in case you're using a different order for other elements */
  position:sticky;
  transition: background-color .25s, color .25s;
}

.card:selected {
  border-radius: 6px;
  background-color: rgb(239, 239, 230);
  color:rgba()
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  cursor: default;
  text-transform: uppercase;
  font-family: "Libre Franklin", sans-serif;
  font-style: normal; 
  z-index: -1; /* Specify a stack order in case you're using a different order for other elements */
  position:sticky;
  transition: background-color .25s, color .25s;
  background-color: var(--connections-extra-dark-beige);
}

.card:yellow {
  background-color: var(--connections-yellow);
}

.card:purple {
  background-color: var(--connections-purple);
}

.card:blue {
  background-color: var(--connections-blue);
  color:#ffffff;
}

.card:green {
  background-color: var(--connections-green);
  color:#ffffff;
}


.remaining_tries{
    display:flex;
  border-radius: 6px;
  width: 35%;
  margin:auto;
  align:center;
  text-align: center;
  font-weight: 600;
  font-size:16px;
  cursor: default;
}

 .dot {
  margin:auto;
  height: 15px;
  width: 15px;
  background-color: var(--connections-extra-dark-beige);
  border-radius: 50%;
  display: inline-block;
  transition: background-color .25s, scale .25s
}

 .deactivated-dot {
  margin:auto;
  height: 15px;
  width: 15px;
  background-color: var(--connections-dark-beige);
  border-radius: 50%;
  display:inline-block;
}

.cover{
  height: calc(3 * 8px + 80px);
  padding: 20px;
  width: calc(3 * 8px + 4 * 150px);
  min-height: 0;
  min-width: 0;
  margin:auto;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  background-color: rgba(100,100,100,.5);
  position: fixed
}

.button{
  cursor: pointer;
  font-size:15px;
  padding:20px;
  line-height:10px;
  border-radius: 60px;
  width: max-content;
  height: 10px;
  margin:auto;
  align:center;

  text-align: center;
  font-weight: 500;
  border-style:solid;
  border-color:var(--connections-extra-dark-beige);
  border-width:thin;
}

.hidden_button{
  cursor: default;
  font-size:15px;
  padding:20px;
  line-height:10px;
  border-radius: 60px;
  width: max-content;
  height: 10px;
  margin:auto;
  align:center;
  cursor: default;

  text-align: center;
  font-weight: 500;
  border-style:solid;
  border-color:var(--connections-dark-beige);
  color:var(--connections-dark-beige);
  border-width:thin;
}

.Buttons{
  display: flex;
  position:relative;
  margin-top: 10px;
  flex-direction: row;
  align-items:center;
  justify-content:center;
}



.MessageBox{
  display: flex;
  justify-content: center;
  margin: auto;
  padding:10px 18px;
  width: max-content;
  align-items: center;
  text-align: center;
  min-height: 100;
  background-color:black;
  color:white;
  font-size:medium;  
  border-radius: 6px;
  font-weight:600;
  opacity:0;
  transition: opacity .25s;
}

:root{
  --connections-light-beige: #efefe6;
  --connections-beige: #cfcfbf;
  --connections-dark-beige: #a39f95;
  --connections-darker-beige: #656458;
  --connections-extra-dark-beige: #5a594e;
  --connections-yellow: #f9df6d;
  --connections-maroon: #ba81c5;
  --connections-blue: #b0c4ef;
  --connections-green: #a0c35a;
  --connections-dark-purple: #861cab;
  --sb-dark-gray: #38383f;
  font-size: 20px;
  font-weight: 700;
    font-family: "Libre Franklin", sans-serif;
  font-style: normal;
  flex-shrink:0;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */


}
