@import "./animations.css";

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }j

header{
    text-align: justify;
}

h1{
    padding-top:40px;
    text-align:center;
    margin:auto;
    padding-bottom:5px;
}

p{
    text-align:center;
    margin:auto;
    font-weight:normal;
}
.game{
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    margin:auto;
    height:70vh;
    width: 70vh;
}

.board_container{

  padding: 20px;
    display:flex;
    position: fixed; /* Sit on top of the page content */
    justify-content:center;
    width: 100%; /* Full width (cover the whole page) */
    height: calc(3 * 8px + 4 * 80px);

    top: 25%;
    bottom:50%;
  z-index: -0; /* Specify a stack order in case you're using a different order for other elements */

}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: calc(3 * 8px + 4 * 80px);
  background-color: #FFFFFF;
  gap:8px;
  min-height: 0;
  min-width: 0;
  position:relative;
  /*left: 400px;*/
  /*position:;*/
  column-gap: 8px;
  row-gap: 8px;
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
}

input[type=text].theme{
    background-color:inherit;
    border:none;
    font:inherit;
    text-transform: uppercase;
    font-weight: 700;
    display:inline;
}

.word-set{
    display:flex;
    flex-grow:0;
    flex-shrink:1;
}

input[type=text]{
    text-align:center;
    width: content-max;
    background-color:inherit;
    border:none;
    font:inherit;
    text-transform: uppercase;

    width:50%;
    display:inline;
}



.word{
    display:inline;
}

.matched-set {
  grid-column-end: span 4;
  border-radius: 6px;
  padding: 20px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  cursor: default;
  text-transform: uppercase;
  font-family: "Libre Franklin", sans-serif;
  font-style: normal; 
  z-index: -1; /* Specify a stack order in case you're using a different order for other elements */
  position:sticky;
  transition: background-color .25s, color .25s;
    height: 40px;
}

connections-set {
  grid-column-end: span 4;
  border-radius: 6px;
  padding: 20px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  cursor: default;
  text-transform: uppercase;
  font-family: "Libre Franklin", sans-serif;
  font-style: normal; 
  z-index: -1; /* Specify a stack order in case you're using a different order for other elements */
  position:sticky;
  transition: background-color .25s, color .25s;
    height: 40px;
}


connections-set[connections-color = "yellow"]{
    display:inline-block;
    background-color: var(--connections-yellow);
}


connections-set[connections-color = "green"]{
    display:inline-block;
    background-color: var(--connections-green);
}



connections-set[connections-color = "purple"]{
    display:inline-block;
    background-color: var(--connections-maroon);
}


connections-set[connections-color = "blue"]{

    display:inline-block;
    background-color: var(--connections-blue);
}






connections-card{
  height: 40px;
  line-height:40px;
  border-radius: 6px;
  background-color: var(--connections-light-beige);
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Libre Franklin", sans-serif;
  font-style: normal; 
  z-index: -1; /* Specify a stack order in case you're using a different order for other elements */
  position:sticky;
  transition: background-color .25s, color .25s;
}

connections-card:state(selected){
  background-color: var(--connections-darker-beige);
  color:white;
}

connections-card:state(moving){
  transition: none
}


connections-card:state(shuffling){
    color: rgba(0,0,0,0);
  transition: color .25s;
}


.card {
  height: 40px;
  line-height:40px;
  border-radius: 6px;
  background-color: var(--connections-light-beige);
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Libre Franklin", sans-serif;
  font-style: normal; 
  z-index: -1; /* Specify a stack order in case you're using a different order for other elements */
  position:sticky;
  transition: background-color .25s, color .25s;
}

.card.shuffling{
    color: rgba(0,0,0,0)
}

.card.selected.shuffling {
  color:rgba(0,0,0,0);
}

.card.selected {
  background-color: var(--connections-darker-beige);
  color:white;
}

#yellow{
    background-color: var(--connections-yellow);
}

#purple{
    background-color: var(--connections-maroon);
}

#green{
    background-color: var(--connections-green);
}

#blue{
    background-color: var(--connections-blue);
}


.remaining_tries{
    display:flex;
  border-radius: 6px;
  width: 35%;
  margin:auto;
  text-align: center;
  font-weight: 600;
  font-size:16px;
  cursor: default;
}

 .dot {
  margin:auto;
  height: 15px;
  width: 15px;
  background-color: var(--connections-extra-dark-beige);
  border-radius: 50%;
  display: inline-block;
  transition: background-color .25s, scale .25s
}

button.hidden {
    opacity:0;
}


 .dot.hidden {
  margin:auto;
  height: 15px;
  width: 15px;
  background-color: var(--connections-dark-beige);
  border-radius: 50%;
  display:inline-block;
  transition: background-color .25s, scale .25s
}

.cover{
  height: calc(3 * 8px + 80px);
  padding: 20px;
  min-height: 0;
  min-width: 0;
  margin:auto;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  background-color: rgba(100,100,100,.5);
  position: fixed
}

button{
  cursor: pointer;
  font-size:15px;
  padding: 20px;
  border-radius: 60px;
  width: max-content;
  margin:0 auto;

  text-align: center;
  font-weight: 500;
  border-style:solid;
  border-color:var(--connections-extra-dark-beige);
  border-width:thin;
  transition: border-color ease-out .15s, color ease-out .15s;
  z-index:3;
  position:relative;
  background-color:white;
}

button:disabled{
  cursor: default;
  border-color:var(--connections-dark-beige);
  color:var(--connections-dark-beige);
}

.end{
   width: max-content;
  margin: 10px auto;
  padding:10px 18px;
  text-align: center;
  background-color:white;
  color:black;
  font-size:medium;  
  border-radius: 6px;
  font-weight:600;
  transition: display .25s, opacity .25s;
  opacity:1

}


.Buttons{
  display: flex;
  position:relative;
  margin-top: 10px;
  flex-direction: row;
  align-items:flex-start;
  justify-content:center;
}

.Buttons.end{
  display: flex;
  flex-direction:column;
  position:relative;
  margin-top: 10px;
  align-items:center;
  justify-content:center;
}



.MessageBox{
  display: flex;
  justify-content: center;
  margin: auto;
  padding:10px 18px;
  width: max-content;
  align-items: center;
  text-align: center;
  background-color:black;
  color:white;
  font-size:medium;  
  border-radius: 6px;
  font-weight:600;
  opacity:0;
  transition: opacity .25s;
}

:root{
  --connections-light-beige: #efefe6;
  --connections-beige: #cfcfbf;
  --connections-dark-beige: #a39f95;
  --connections-darker-beige: #656458;
  --connections-extra-dark-beige: #5a594e;
  --connections-yellow: #f9df6d;
  --connections-maroon: #ba81c5;
  --connections-blue: #b0c4ef;
  --connections-green: #a0c35a;
  --connections-dark-purple: #861cab;
  --sb-dark-gray: #38383f;
  font-size: 20px;
  font-weight: 700;
  color:black;
    font-family: "Libre Franklin", sans-serif;
  font-style: normal;
  flex-shrink:0;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@media screen and (max-width: 600px) {
    :root{
        font-size:1em;
    }

.board {
  min-height: 0;
  min-width: 0;
  margin:auto;
  position:relative;
  /*left: 400px;*/
  /*position:;*/
  column-gap: 8px;
  row-gap: 8px;
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
}

button{
    padding:11px;
    margin:0 auto;
}


}



.container{
    display:flex;
    position: fixed; /* Sit on top of the page content */
    flex-direction: column;
    justify-content:space-evenly;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    z-index: -0; /* Specify a stack order in case you're using a different order for other elements */
}





.overlay{
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  margin: auto;
  padding:10px 18px;
  text-align: center;
  min-height: 100%;
  background-color:white;
  font-size:medium;  
  border-radius: 6px;
  font-weight:600;
  opacity:.6;
  transition: display .25s;
}

.overlay-container{
  display:none;
  flex-direction:column;
  justify-content:space-around;
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  animation: display .25s;
}

.overlay-container.enabled{
    display:flex;
    justify-content:flex-start;
    margin:auto;
}

.end-state{
  display:none;
  z-index: 3; /* Sit on top */
  margin: 10px auto;
  padding:10px 18px;
  text-align: center;
  background-color:black;
  color:white;
  font-size:medium;  
  border-radius: 6px;
  font-weight:600;
  transition: display .25s;
  opacity:.8
}

.end-state.enabled{
  display:block;
  box-sizing:border-box
}


#copier{
    z-index:1;
    opacity:0;
    display:block;
    position:absolute;
    transition: opacity .2s ease-out;
}

#copier.visible{
    opacity:1;
}

.pop-up{
  z-index: 3; /* Sit on top */
   width: max-content;
  margin: 10px auto;
  padding:10px 18px;
  text-align: center;
  background-color:black;
  color:white;
  font-size:medium;  
  border-radius: 6px;
  font-weight:600;
  border:none;
}

.pop-up.visible{
  opacity:0;
  z-index: 3; /* Sit on top */
  width: max-content;
  margin: 10px auto;
  padding:10px 18px;
  text-align: center;
  background-color:black;
  color:white;
  font-size:medium;  
  border-radius: 6px;
  font-weight:600;
  }


  /*
dialog[open]{
  animation: fade-in 0.4s ease-out;
}
*/

#share{
    position:relative;
    z-index:2;
}

#copied{
    padding:2px 5px;
    font-size:10px;
    z-index:0;
    /*
    position: fixed;
    top: 0;
    */
}



.pop-up.enabled{
    display:block;
}






#endscreen[open]{
	opacity:1;
}

#endscreen{
    opacity: 0;
    transition:
	opacity 0.2s ease-out allow-discrete,
	overlay 0.25s ease-out allow-discrete,
	display 0.25s ease-out allow-discrete;
}

@starting-style {
  #endscreen[open] {
    opacity: 0;
  }
}

#endscreen::backdrop{
    background-color: rgba(255,255,255,1);
    opacity:1;
    transition:all .5s ease-out allow-discrete;
}


#endscreen[open]::backdrop {
    opacity:1;
    background-color: rgba(255,255,255,.6);
}

@starting-style {
  #endscreen[open]::backdrop {
    opacity:1;
    background-color: rgba(255,255,255,100);
  }
}



a{
  text-decoration: none;
  color:inherit;
  }
